Привет {{ fullname }}! У сериала {{ series_name }} на который ты подписан вышла новая серия!
Скорее смотри по ссылке {{ url }}!
<!-- Это шаблон именно для websocket, тут вероятно будет только текст -->